@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 49px;
    margin-left: 10%;
    margin-right: 10%;
}
.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
  }